.header {
  background-color: blue;
  width: 100%;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  position: relative;
}

.searchBar {
  width: 500px;
  height: 50px;
  padding-left: 40px;
}

.searchBtn {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 16px;
  left: 10px;
}
